<div class="grid grid-ac-center topbar">
    <a href="/" class="logo">
        <span>RDS</span>
        <span>Riupress Design System</span>
    </a>
    <ul class="grid grid-ac-center topbar-menu">
        <li><a href="/docs/quarks">Quarks</a></li>
        <li><a href="/docs/atoms">Atoms</a></li>
        <li><a href="/docs/molecules">Molecules</a></li>
        <li><a href="/docs/organisms">Organisms</a></li>
        <li><a href="/docs/templates">Templates</a></li>
        <li><a href="/docs/pages">Pages</a></li>
    </ul>
</div>