$grapefruit-light: #ed5565;
$grapefruit-dark: #da4453;

$bittersweet-light: #fc6e51;
$bittersweet-dark: #e9573f;

$sunflower-light: #ffce54;
$sunflower-dark: #fcbb42;

$grass-light: #a0d468;
$grass-dark: #8cc152;

$mint-light: #48cfad;
$mint-dark: #37bc9b;

$aqua-light: #4fc1e9;
$aqua-dark: #3bafda;

$blue-jeans-light: #5d9cec;
$blue-jeans-dark: #4a89dc;

$lavender-light: #ac92ec;
$lavender-dark: #967adc;

$pink-rose-light: #ec87c0;
$pink-rose-dark: #d770ad;

$light-gray-light: #f5f7fa;
$light-gray-dark: #e6e9ed;

$medium-gray-light: #ccd1d9;
$medium-gray-dark: #aab2bd;

$dark-gray-light: #656d78;
$dark-gray-dark: #434a54;
