@mixin logo {
  .logo{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    span{
      display: block;
      margin-left: 8px;
      font-weight: 300;
      &:first-child{
        font-size: 2.2rem;
        font-weight: 700;
        margin-left: 0px;
      }
    }
    &-name{
      span{
        font-size: 2.2rem;
        font-weight: 200;
      }
    }
    &.vertical{
      flex-direction: column;
    }
  }
}
  