@use '../../quarks/breakpoint/index' as breakpoint;
@use '../../quarks/import-once/index' as importonce;

@mixin get-container {
  @include importonce.exports('breakpoint', 'quarks');
  @include importonce.exports('import-once', 'quarks');
  .container{
    @include breakpoint.breakpoint(xs) {
      width: 100%;
      margin: 0;
      padding: 0 16px;
    }
    @include breakpoint.breakpoint(sm) {
      padding: 0px;
      width: 540px;
      margin: auto;
    }
    @include breakpoint.breakpoint(md) {
      width: 720px;
    }
    @include breakpoint.breakpoint(lg) {
      width: 960px;
    }
    @include breakpoint.breakpoint(xl) {
      width: 1140px;
    }
    @include breakpoint.breakpoint(xxl) {
      width: 1320px;
    }
    &-fluid{
      width: 100%;
      margin: 0;
      padding: 0;
    }
  }
}

@mixin container {
  @include importonce.exports('container', 'atoms') {
    @include get-container;
  }
}